<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<title>Template</title>

<style>
.title{position:relative;margin-bottom:25px;margin-top:15px;border-bottom:1px solid #DADADA;}
.title:after{content:"";position:absolute;left:0;bottom:-1.5px;height:3px;width:60px;background-color:#F8694A;}
</style>

</head>
<body>
	<div class="container" style="padding-top:40px;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="padding: 20px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-top:4px solid LightCoral;border-radius:5px;">
				<h3 class="title">Update Post</h3>

				<form th:action="@{/feedback/update}" th:object="${feedback}" method="post">	
					<input name="id" th:value="${feedback.id}" type="hidden" />
									
					<div class="col-md-12">	
						<div class="form-group">
							<label for="name" class="control-label">Check In</label> 
							<select class="form-control" name="locationId">
						    	<option value="0">--Select--</option>
						    	<option th:each="location : ${locationList}" th:value="${location.id}" th:text="${location.name}"  selected></option>
						    </select>
						</div>
					</div>	
					<div class="col-md-12">		
						<div class="form-group">
							<label for="name" class="control-label">Status</label> 
							<input name="status" class="form-control" th:value="${feedback.status}" />
						</div>
					</div>	
					
					<div class="col-md-12">		
						<div class="form-group">
							<label for="name" class="control-label">Privacy</label> 
							<br>
							<label class="radio-inline">
						      <input type="radio" name="privacy" value="1" checked>Public
						    </label>
						    <label class="radio-inline">
						      <input type="radio" name="privacy" value="0" checked>Private
						    </label>
						</div>
					</div>	
					
					<div class="col-md-12">	
						<div class="form-group">
							<input type="submit" name="submit" id="submit" class="form-control btn btn-success" value="Update" />
						</div>
					</div>
					
					<div class="col-md-12">	
						<div class="form-group">
							<p class="alert alert-danger" th:if="${param.error != null}" th:text="${param.m}"></p>
						</div>
					</div>
					<div class="col-md-12">	
						<div class="form-group">
							<p class="alert alert-success" th:if="${param.success != null}" th:text=${param.m}></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>